# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.next/
out/

# Mobile
mobile/ios/Pods/
mobile/ios/build/
mobile/android/app/build/
mobile/android/build/
mobile/android/gradle/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/release/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.idea/
.vscode/
*.swp
*.swo

# Blockchain
cache/
artifacts/
typechain/
typechain-types/

# IPFS
.ipfs/
.ipfs-data/

# System
.DS_Store
*.tmp
*.temp
